.profile__btn-avatar {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  border: none;
  background-image: url('../../../images/editavatar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s linear;
  padding: 0;
  margin: 0;
}

.profile__btn-avatar:hover {
  opacity: 1;
}
