.profile__info {
  display: flex;
  flex-direction: column;
  min-height: 73px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 964px) {
  .profile__info {
    align-items: center;
    margin: 0 0 18px 0;
  }
}
