.form__button {
  width: 358px;
  height: 50px;
  border: 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  padding: 14px 124px;
  margin: 0;
}

.form__button:hover {
  transition: opacity .5s linear;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .form__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 82px;
  }
}
