.cards__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  transition: opacity .5s linear;
  padding: 0;
  margin: 0;
}

.cards__trash:hover {
  opacity: 0.6;
}
