.profile__line {
  width: 100%;
  max-width: 336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 964px) {
  .profile__line {
    max-width: 217px;
    margin: 0 0 8px 32px;
  }

}
