.cards__like {
  width: 22px;
  height: 19px;
  border: 0;
  background-color: #fff;
  background-image: url('../../../images/like-disabled.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  margin: 30px 15px 30px 0;
}

.cards__like:hover {
  transition: opacity .5s linear;
  opacity: .5;
}
